@model IEnumerable<JobPlacementDashboard.Models.JPStudent>

<!-- this is a comment-->
<div class="container">
    <div class="col-sm-12">
        <h3>Student Information</h3>
        <p>
            @Html.ActionLink("Create New Student Job Placement Account", "Create")
        </p>
        <br />


        @using (Html.BeginForm())
        {
            <p>
                <div class="JPStudentSearchContainer" id="SearchContainer">
                    <div class="row" id="JPStudentRow">
                        <div class="col-md-12">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="search" name="SearchString" class="form-control input-md" placeholder="Find by name or location" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-lg" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        }

        <table class="students-index table">
            <tr>
                <th id="JPStudentsTable">
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th id="JPStudentsTable" style="pointer-events: none;">
                    @Html.ActionLink("Email", "Index", new { currentFilter = ViewBag.CurrentFilter })
                </th>
                <th id="JPStudentsTable">
                    @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th id="JPStudentsTable">
                    @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.StartDateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th id="JPStudentsTable" style="pointer-events: none;">
                    @Html.ActionLink("Linkedin Profile", "Index", new { currentFilter = ViewBag.CurrentFilter })
                </th>
                <th id="JPStudentsTable" style="pointer-events: none;">
                    @Html.ActionLink("Portfolio", "Index", new { currentFilter = ViewBag.CurrentFilter })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="JPStudentsTable">
                    <td id="JPStudentsTable">
                        @Html.DisplayFor(modelItem => item.JPName)
                    </td>
                    <td id="JPStudentsTable">
                        <a id="JPStudentsLink" href="mailto: @Html.DisplayFor(modelItem => item.JPEmail)">@Html.DisplayFor(modelItem => item.JPEmail)</a>
                    </td>
                    <td id="JPStudentsTable">
                        @functions {
                            /**/

                            public string returnWithSpaces(string location)
                            {
                                string newString = System.Text.RegularExpressions.Regex.Replace(location, "[A-Z]", " $0");
                                newString = newString.Trim();
                                return newString;
                            }
                        }
                        @{
                            var testString = item.JPStudentLocation.ToString();
                            var newString = returnWithSpaces(testString);
                        }
                        @Html.DisplayFor(modelItem => newString)
                    </td>
                    <td id="JPStudentsTable">
                        @Html.DisplayFor(modelItem => item.JPStartDate)
                    </td>
                    <td id="JPStudentsTable">
                        <a id="JPStudentsLink" href="http://@Html.ExternalLink(item.JPLinkedIn)" target="_blank">LinkedIn Profile</a>
                    </td>
                    <td id="JPStudentsTable">
                        <a id="JPStudentsLink" href="http://@Html.ExternalLink(item.JPPortfolio)" target="_blank">Student Portfolio</a>
                    </td>
                    <td class ="font20 align-middle" id="JPStudentsTable">

                        @Html.ActionLink(HttpUtility.HtmlDecode("&#x270E;"), "Edit", new { id = item.JPStudentId }) |                      
                        @Html.ActionLink(HttpUtility.HtmlDecode("&#x1F5D1;"), "Delete", new { id = item.JPStudentId })

                    </td>
                </tr>
            }
        </table>
        <br />
        <div id="JPStudentEmail-btn">
            @Html.ActionLink("Export Student Email Addresses", "Result", Model, new { @class = "btn btn-primary" })
        </div>
        <br />
    </div>
</div>